#Install via sudo pip3 install 

flask-mysql

sqlalchemy

Flask-SQLAlchemy  

pip3 install Flask==2.3.3

-*-*-*-*-*-**-*-*-*-*-*-

sudo pip3 install flask-mysql

sudo pip3 install sqlalchemy

sudo pip3 install Flask-SQLAlchemy  


### DB_Browser for SQLLite

https://sqlitebrowser.org/


#### 
sudo apt-get update
sudo apt-get install python3-dev default-libmysqlclient-dev build-essential
pip install flask-mysqldb


#### ec2 installations

sudo dnf update -y
sudo dnf install python3 -y
sudo dnf install python-pip
python3 --version
pip3 install Flask==2.3.3
pip3 install flask-mysql
pip3 install flask-mysqldb
pip3 install boto3
sudo dnf install git -y



